<div
  class="mt-6 flex items-center gap-2 text-xs font-semibold uppercase text-gray-600 dark:text-gray-400"
>
  {% for category in page.categories %}
  <span
    class="border-1 flex items-center gap-1 rounded border-gray-600 dark:border-gray-400 px-1 py-0.5"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="size-4"
    >
      <path
        fill-rule="evenodd"
        d="M4.5 2A2.5 2.5 0 0 0 2 4.5v2.879a2.5 2.5 0 0 0 .732 1.767l4.5 4.5a2.5 2.5 0 0 0 3.536 0l2.878-2.878a2.5 2.5 0 0 0 0-3.536l-4.5-4.5A2.5 2.5 0 0 0 7.38 2H4.5ZM5 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
        clip-rule="evenodd"
      />
    </svg>
    <span>{{ category }}</span>
  </span>
  {% endfor %}
</div>
<div
  class="my-6 flex justify-between gap-2 text-xs font-semibold uppercase text-gray-600"
>
  {%- if page.previous.url -%}
  <a
    class="flex items-center gap-1 hover:text-sky-600"
    href="{{ page.previous.url | prepend: site.baseurl }}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
      />
    </svg>
    <span> {{ page.previous.title }} </span>
  </a>
  {%- else -%}
  <span></span>
  {%- endif -%} {%- if page.next.url -%}
  <a
    class="flex items-center gap-1 hover:text-sky-600"
    href="{{ page.next.url | prepend: site.baseurl }}"
  >
    <span>{{ page.next.title }} </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
      />
    </svg>
  </a>
  {%- endif -%}
</div>
