@import url("highlight.css");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

h1,
h2,
h3 {
  font-family: var(--font-serif);
  font-size: clamp(2.25rem, 1.5rem + 2.5vw, 3rem);
  font-weight: var(--font-weight-normal);
  text-wrap: pretty;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: var(--color-sky-600);
}

h2 {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 1.7rem);
  letter-spacing: -0.005em;
  line-height: 1.25;
}

h3 {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  letter-spacing: -0.005em;
  line-height: 1;
}

.post h2 {
  margin-top: 3rem;
}

blockquote {
  border-left: 8px solid var(--color-sky-600);
  font-style: italic;
  font-weight: bold;
  padding-left: 2rem;
}

ol {
  list-style: decimal;
  margin-left: 2rem;
}

ul {
  list-style: disc;
  margin-left: 2rem;
}

ol li,
ul li {
  margin-bottom: .25rem;
}

ol li::marker,
ul li::marker {
  color: var(--color-sky-600);
}

.container a:not(.no-underline) {
  color: var(--color-sky-600);
  text-decoration: underline;
  text-decoration-color: var(--color-sky-300);
  transition: all 100ms ease-in;
}

.container a:hover:not(.no-underline) {
  color: var(--color-sky-700);
  text-decoration-color: var(--color-sky-700);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}