@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

p,
h2,
h3,
figure,
code {
  --tw-space-y-reverse: 0;
  margin-block-start: calc(
    calc(var(--spacing) * 6) * var(--tw-space-y-reverse)
  );
  margin-block-end: calc(
    calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse))
  );
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
  font-size: clamp(2.25rem, 1.5rem + 2.5vw, 3rem);
  font-weight: var(--font-weight-normal);
  text-wrap: pretty;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: var(--color-sky-600);
}

h2 {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 1.7rem);
  letter-spacing: -0.005em;
  line-height: 1.25;
  margin-top: 3rem;
}

h3 {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  letter-spacing: -0.005em;
  line-height: 1;
  margin-top: 3rem;
}

blockquote {
  border-left: 8px solid var(--color-sky-600);
  font-style: italic;
  font-weight: bold;
  padding-left: 2rem;
}

ol {
  list-style: decimal;
  margin-left: 2rem;
}

ul {
  list-style: disc;
  margin-left: 2rem;
}

ol li,
ul li {
  margin-bottom: 0.25rem;
}

ol li::marker,
ul li::marker {
  color: var(--color-sky-600);
}

figure img {
  transition: transform 0.2s ease;
  cursor: pointer;
}

figure img:hover {
  transform: scale(1.02);
}

figcaption {
  color: var(--color-gray-400);
  text-align: center;
  margin-top: 0.25rem;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(65ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
  grid-column: content;
}

.content figure,
.content code {
  grid-column: feature;
  width: 100%;
}

.content figure img {
  width: 100%;
}

.content a:not(.no-underline) {
  color: var(--color-sky-600);
  text-decoration: underline;
  text-decoration-color: var(--color-sky-700);
  transition: all 100ms ease-in;
}

.content a:hover:not(.no-underline) {
  color: var(--color-sky-700);
  text-decoration-color: var(--color-sky-300);
}

/* Code in text */
.content p > code,
.content li > code {
  @apply bg-gray-300 dark:bg-gray-700;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: unset;
}

dialog img {
  max-width: 90vw;
  max-height: 90vh;
}

dialog button {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.highlighter-rouge {
  margin-block-end: calc(
    calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse))
  );
}

div.highlight,
figure.highlight {
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  overflow-x: auto;
  max-width: calc(100vw - 4rem);
  scrollbar-width: thin;
}

div.highlight pre,
figure.highlight pre {
  overflow-x: auto;
  white-space: pre;
  display: block;
  width: max-content;
  min-width: 100%;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Base dark styles */
[data-theme="dark"] div.highlight,
[data-theme="dark"] figure.highlight {
  scrollbar-color: #3e3e5f #1e1e2e;
}

[data-theme="dark"] .highlight {
  color: #cdd6f4; /* text */
  background-color: #1e1e2e; /* base */
}
[data-theme="dark"] .highlight table td {
  padding: 5px;
}
[data-theme="dark"] .highlight table pre {
  margin: 0;
}

/* Comments */
[data-theme="dark"] .highlight .c,
[data-theme="dark"] .highlight .ch,
[data-theme="dark"] .highlight .cd,
[data-theme="dark"] .highlight .cpf,
[data-theme="dark"] .highlight .cm,
[data-theme="dark"] .highlight .c1,
[data-theme="dark"] .highlight .cs {
  color: #585b70; /* surface2 */
  font-style: italic;
}
[data-theme="dark"] .highlight .cp {
  color: #585b70;
  font-weight: bold;
}

/* Errors */
[data-theme="dark"] .highlight .err {
  color: #f38ba8; /* red */
  background-color: #11111b; /* crust */
}

/* Diff */
[data-theme="dark"] .highlight .gi {
  color: #a6e3a1; /* green */
  background-color: #2b303b; /* custom */
}
[data-theme="dark"] .highlight .gd {
  color: #f38ba8; /* red */
  background-color: #2b303b; /* custom */
}

/* Generic emphasis */
[data-theme="dark"] .highlight .ge {
  font-style: italic;
}
[data-theme="dark"] .highlight .gs {
  font-weight: bold;
}

/* Headings, prompt etc */
[data-theme="dark"] .highlight .gh {
  color: #94e2d5; /* teal */
}
[data-theme="dark"] .highlight .go {
  color: #6c7086; /* muted */
}
[data-theme="dark"] .highlight .gp {
  color: #74c7ec; /* sapphire */
}
[data-theme="dark"] .highlight .gu {
  color: #89b4fa; /* blue */
}
[data-theme="dark"] .highlight .gt,
[data-theme="dark"] .highlight .gr {
  color: #f38ba8; /* red */
}

/* Keywords and declarations */
[data-theme="dark"] .highlight .k,
[data-theme="dark"] .highlight .kv,
[data-theme="dark"] .highlight .kc,
[data-theme="dark"] .highlight .kd,
[data-theme="dark"] .highlight .kp,
[data-theme="dark"] .highlight .kr,
[data-theme="dark"] .highlight .kt,
[data-theme="dark"] .highlight .sa {
  color: #f38ba8; /* red */
  font-weight: bold;
}

/* Operators and punctuations */
[data-theme="dark"] .highlight .o,
[data-theme="dark"] .highlight .ow,
[data-theme="dark"] .highlight .kn {
  color: #f38ba8; /* red */
  font-weight: bold;
}

/* Numbers */
[data-theme="dark"] .highlight .m,
[data-theme="dark"] .highlight .mb,
[data-theme="dark"] .highlight .mf,
[data-theme="dark"] .highlight .mh,
[data-theme="dark"] .highlight .mi,
[data-theme="dark"] .highlight .il,
[data-theme="dark"] .highlight .mo,
[data-theme="dark"] .highlight .mx {
  color: #fab387; /* peach */
}

/* Strings */
[data-theme="dark"] .highlight .s,
[data-theme="dark"] .highlight .dl,
[data-theme="dark"] .highlight .sb,
[data-theme="dark"] .highlight .sc,
[data-theme="dark"] .highlight .sd,
[data-theme="dark"] .highlight .s1,
[data-theme="dark"] .highlight .s2,
[data-theme="dark"] .highlight .sh,
[data-theme="dark"] .highlight .si,
[data-theme="dark"] .highlight .sx,
[data-theme="dark"] .highlight .sr,
[data-theme="dark"] .highlight .ss {
  color: #a6e3a1; /* green */
}

/* Builtins */
[data-theme="dark"] .highlight .nb,
[data-theme="dark"] .highlight .bp {
  color: #cdd6f4; /* text */
}
[data-theme="dark"] .highlight .no {
  color: #fab387; /* peach */
}

/* Names, identifiers */
[data-theme="dark"] .highlight .na {
  color: #f9e2af; /* yellow */
}
[data-theme="dark"] .highlight .nc,
[data-theme="dark"] .highlight .nd,
[data-theme="dark"] .highlight .ne,
[data-theme="dark"] .highlight .nf,
[data-theme="dark"] .highlight .fm {
  color: #89b4fa; /* blue */
  font-weight: bold;
}
[data-theme="dark"] .highlight .nn,
[data-theme="dark"] .highlight .ni,
[data-theme="dark"] .highlight .nv,
[data-theme="dark"] .highlight .vc,
[data-theme="dark"] .highlight .vg,
[data-theme="dark"] .highlight .vi,
[data-theme="dark"] .highlight .vm,
[data-theme="dark"] .highlight .nl {
  color: #cdd6f4; /* text */
}

/* Tags */
[data-theme="dark"] .highlight .nt {
  color: #89dceb; /* sky */
}

/* Whitespace */
[data-theme="dark"] .highlight .w {
  color: #585b70; /* surface2 as invisible */
}

/* Base light styles */
[data-theme="light"] div.highlight,
[data-theme="light"] figure.highlight {
  scrollbar-color: #b6b8bb #eff1f5;
}

[data-theme="light"] .highlight {
  color: #4c4f69; /* text */
  background-color: #eff1f5; /* base */
}
[data-theme="light"] .highlight table td {
  padding: 5px;
}
[data-theme="light"] .highlight table pre {
  margin: 0;
}

/* Comments */
[data-theme="light"] .highlight .c,
[data-theme="light"] .highlight .ch,
[data-theme="light"] .highlight .cd,
[data-theme="light"] .highlight .cpf,
[data-theme="light"] .highlight .cm,
[data-theme="light"] .highlight .c1,
[data-theme="light"] .highlight .cs {
  color: #acb0be; /* surface2 */
  font-style: italic;
}
[data-theme="light"] .highlight .cp {
  color: #acb0be;
  font-weight: bold;
}

/* Errors */
[data-theme="light"] .highlight .err {
  color: #d20f39; /* red */
  background-color: #dce0e8; /* crust */
}

/* Diff */
[data-theme="light"] .highlight .gi {
  color: #40a02b; /* green */
  background-color: #e6e9f0; /* custom light diff bg */
}
[data-theme="light"] .highlight .gd {
  color: #d20f39; /* red */
  background-color: #e6e9f0; /* custom light diff bg */
}

/* Generic emphasis */
[data-theme="light"] .highlight .ge {
  font-style: italic;
}
[data-theme="light"] .highlight .gs {
  font-weight: bold;
}

/* Headings, prompt etc */
[data-theme="light"] .highlight .gh {
  color: #179299; /* teal */
}
[data-theme="light"] .highlight .go {
  color: #9ca0b0; /* muted */
}
[data-theme="light"] .highlight .gp {
  color: #209fb5; /* sapphire */
}
[data-theme="light"] .highlight .gu {
  color: #1e66f5; /* blue */
}
[data-theme="light"] .highlight .gt,
[data-theme="light"] .highlight .gr {
  color: #d20f39; /* red */
}

/* Keywords and declarations */
[data-theme="light"] .highlight .k,
[data-theme="light"] .highlight .kv,
[data-theme="light"] .highlight .kc,
[data-theme="light"] .highlight .kd,
[data-theme="light"] .highlight .kp,
[data-theme="light"] .highlight .kr,
[data-theme="light"] .highlight .kt,
[data-theme="light"] .highlight .sa {
  color: #d20f39; /* red */
  font-weight: bold;
}

/* Operators and punctuations */
[data-theme="light"] .highlight .o,
[data-theme="light"] .highlight .ow,
[data-theme="light"] .highlight .kn {
  color: #d20f39; /* red */
  font-weight: bold;
}

/* Numbers */
[data-theme="light"] .highlight .m,
[data-theme="light"] .highlight .mb,
[data-theme="light"] .highlight .mf,
[data-theme="light"] .highlight .mh,
[data-theme="light"] .highlight .mi,
[data-theme="light"] .highlight .il,
[data-theme="light"] .highlight .mo,
[data-theme="light"] .highlight .mx {
  color: #fe640b; /* peach */
}

/* Strings */
[data-theme="light"] .highlight .s,
[data-theme="light"] .highlight .dl,
[data-theme="light"] .highlight .sb,
[data-theme="light"] .highlight .sc,
[data-theme="light"] .highlight .sd,
[data-theme="light"] .highlight .s1,
[data-theme="light"] .highlight .s2,
[data-theme="light"] .highlight .sh,
[data-theme="light"] .highlight .si,
[data-theme="light"] .highlight .sx,
[data-theme="light"] .highlight .sr,
[data-theme="light"] .highlight .ss {
  color: #40a02b; /* green */
}

/* Builtins */
[data-theme="light"] .highlight .nb,
[data-theme="light"] .highlight .bp {
  color: #4c4f69; /* text */
}
[data-theme="light"] .highlight .no {
  color: #fe640b; /* peach */
}

/* Names, identifiers */
[data-theme="light"] .highlight .na {
  color: #df8e1d; /* yellow */
}
[data-theme="light"] .highlight .nc,
[data-theme="light"] .highlight .nd,
[data-theme="light"] .highlight .ne,
[data-theme="light"] .highlight .nf,
[data-theme="light"] .highlight .fm {
  color: #1e66f5; /* blue */
  font-weight: bold;
}
[data-theme="light"] .highlight .nn,
[data-theme="light"] .highlight .ni,
[data-theme="light"] .highlight .nv,
[data-theme="light"] .highlight .vc,
[data-theme="light"] .highlight .vg,
[data-theme="light"] .highlight .vi,
[data-theme="light"] .highlight .vm,
[data-theme="light"] .highlight .nl {
  color: #4c4f69; /* text */
}

/* Tags */
[data-theme="light"] .highlight .nt {
  color: #04a5e5; /* sky */
}

/* Whitespace */
[data-theme="light"] .highlight .w {
  color: #acb0be; /* surface2 as invisible */
}
